body {
    margin: 0;
    font-family: Arial;
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
  background-attachment: fixed;
  background-image: url(../img/11.png);

  }
  


.sidenav {

  margin-top: 50px;
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;


}
.sidenav a{


  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  width:100%;
  padding-left: 50px;
  padding-top: 40px;
  line-height: 70px;
  height: 20%;
  box-sizing: border-box;
  border-bottom: 0px solid #333;
  transition: .5s;
  

}


.sidenav a:hover{

  
  padding-left: 70px;


}

.sidenav a:active{
  background-color : black;
}


.main {
  margin-left: 250px;
  margin-right: 50px;
  margin-bottom: 10px;
  margin-top: 100px;
}



.content{
         margin-left:200px;
         border-left:none;
         padding:none;
         }


* {
  box-sizing: border-box;}
