body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
a {
    
    text-decoration:none;
}

a:visited { 
    
    text-decoration:none;
}

  .topnav {
    top: 0;
    height: 50px;
    position: fixed;
    background-color: black;
    width: 100%;
  }
  
  .dropdown {
    float: right;
    overflow: hidden;
    padding-right: 30px;
    
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    height: 50px;
    font-family: inherit;
    margin: 0;
    background-color:#99a290;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 250px;
    min-height: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px; 
    opacity:95%;

  }
  
  .topnav a {
    float: left;
    color: #A9A9A9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    height: 50px;
  }
  

  
  .bhivecontainer {
  
  background-color: #d4e2c89d;
  padding: 20px 100px 20px 100px;
  border: 3px solid rgb(222, 240, 219);
  border-radius: 3px;
  font-size: 14px;
  
}
 
.bhivecontainer p{
  
    font-size: 17px;
    color: black;
    text-align: left;
    padding: 8px;
    background-color: 	#808080;

}

.error{
  color: #9E1A1A;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    padding: 8px;
 
}


  .logo{
      width: 80px;
      height: 50px;
      padding-left:30px;
      padding-top: 0px;
  }
  
  

.col1 {
  float: left;
  width: 270px;
  margin-top: 6px;
  
}

.col2 {
  float: left;
  width: 730px;
  margin-top: 6px;
}

.column {
  float: left;
  width: 20%;
  margin-top: 6px;
}

.c1 {
  float: left;
  width: 815px;
  margin-top: 6px;
}

.c2 {
  float: left;
  width: 185px;
  margin-top: 6px;
}

.c3 {
  float: left;
  width: 200px;
  margin-top: 6px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


input[type=submit] {
  background-color: #2b3528;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  
}

input[type=submit]:hover{

  background-color: #202020	;
  

}



input[type=text],select, textarea {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=number] , input[type=date], input[type=time] {

  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  width: 185px;
  
}

table, td , tr, th{

  border: 1px solid black;

  border-collapse: collapse;
  font-size: 13px;
  table-layout: fixed;
  padding:4px;

  

} 

   


.show {display: block;}