body{
	margin: 0 auto;
	background-image:url("../images/3.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
	opacity: 90%;
	

}

.loginbox{
	width: 290px;
	height: 430px;
	background: #000000;
	color: #ffffff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius:20%;
}

.center{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
 	width: 50%;
}

.avatar{
	width:100;
	height:100;
	border-radius:50%;
	position: absolute;
	top: -10%;
	left: calc(50%- 50px);
}

h2{
	margin:0;
	padding:0 0 20px;
	text-align: center;
	font-size:22px;
}

.loginbox p{
	margin: 0;
	padding: 0;
	font-weight:standard;
	font-size:20px;
}

.loginbox input{
	width: 200;
	margin-bottom:20px;
}

.loginbox input[type="text"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #ffffff;
	background: transparent;
	outline: none;
	height: 40px;
	color:#ffffff;
	font-size: 15px;
}

.loginbox input[type="submit"]{
	border: none;
	outline: none;
	background: #ffc107;
	color: #000000;
	font-size: 18px;
	border-radius: 20px;
}

.button{
  	border: none;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	cursor: pointer;
}

.loginbox input[type="submit"]:hover{
	
	background: #ffc107;
	
}

.loginbox a{
	text-decoration: none;
	font-size: 18px;
	line-height: 20px;
	color: darkgrey;
}


.txt{
	margin-top: -10px;
	text-align: center;
	font-size: 14px;
	font-weight: standard;
}

