.hcmenue{
	width: 50%;
	height:60vh;
	box-sizing:border-box;
	margin:0;
	padding:0;
	font-family: 'poppins', sans-serif;
	position:absolute;
	left:50%;
	top:2%;

}
.honeycomb{
	display:-webkit-box;
	display: flex;
	flex-wrap:wrap;
	list-style:none;
	-webkit-box-pack:center;
	justify-content:center;
	-webkit-box-align:center;
	align-items:center;
	max-width:800px;
	margin:0 auto;
	padding:0;
	transform:translateY(80px);
}
.honeycomb-cell{
	-webkit-box-flex:0;
	flex:0 1 250px;
	max-width:250px;
	height:137.5px;
	margin:65.4px 12.5px 25px;
	position:relative;
	padding:0.5em;
	text-align:center;
	z-index:1;
	box-shadow: 0px 0px 15px 0 rgba(0,0,0,0.1); 
}
.honeycomb-cell_img{
	object-fit: cover;
	object-position: center;
	filter: grayscale(100%);	
}
.honeycomb-cell_title{
	height:100%;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	flex-direction: column;
	-webkit-box-pack:center;
	justify-content: center;
	-webkit-hyphens:auto;
	hyphens:auto;
	word-break:break-word;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 700;
	font-size: 1.75em;
	transition: opacity 350ms

}
.honeycomb-cell_title>small{
	font-weight:300;
	margin-top:0.25rem;
}
.honeycomb-cell::before,
.honeycomb-cell::after{
	content:'';
}
.honeycomb-cell::before,
.honeycomb-cell::after,
.honeycomb-cell_img{
	top: -50%;
	left: 0;
	width:100%;
	height: 200%;
	display: block;
	position: absolute;
	-webkit-clip-path:polygon(50% 0%, 100% 25%,100% 75%,50% 100%, 0% 75% ,0% 25%);
	clip-path: polygon(50% 0%, 100% 25%,100% 75%,50% 100%, 0% 75% ,0% 25%);
	z-index: -1;
}
.honeycomb-cell::before{
	background:#fff;
	transform: scale(1.055);
}
.honeycomb-cell::after{
	background:#dbb844;
	opacity: 0.7;
	transition: opacity 350ms;
	-webkit-transition:opacity 350ms;
}
.honeycomb-cell:hover
.honeycomb-cell_title{
	opacity:0;
}
.honeycomb-cell:hover
.honeycomb-cell_img{
	filter:grayscale(0%);
}
.honeycomb-cell:hover::before{
	background:#757a48;
}
.honeycomb-cell:hover::after{
	opacity: 0;
}
.honeycomb_Hidden{
	display: none;
	opacity: 0;
	width:250px;
	margin: 0 12.5px;
}