@charset "utf-8";
body{
	margin:0px;
	padding: 0px;
	background-color:#26495c;
    }
html{
	scroll-behavior: smooth;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
nav{
	display: flex;
	justify-content:space-between;
	align-items: center;
	text-transform: uppercase;
	font-weight: 600px;
	letter-spacing: 2px;
	font-family: "calibri";
	position: fixed;
	top:0;
	left:0;
	width:100%;
	box-sizing: border-box;
	padding:10px 50px;
	background-color: #f4f7ff;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.05);
	z-index:1; 

}

.lang{
	color:#292929;
}
.logo{
	font-size: 25px;
	font-weight: bold;
	color: #26495c;
	font-family: Poppins;
}
#about{
	width: 100%;
	height:100vh;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px 5% 0px 5%;

}
.about-text{
	font-family: calibri;
	width: 50%;
}
.about-text h1{
	font-size: 5rem;
	color:#f7be74;
}
.about-text h2{
	font-size: 3rem;
	color: #fed88c;
	font-weight: 400;
}
.about-text h1,h2{
	margin:0px;
	padding: 0px;
}

.about-text p{
	font-size: 1.2rem;
	color:rgba(251, 251, 251, 0.9);
}
.about-text button{
	width:180px;
	height:40px;
	border-radius: 20px;
	outline:none;
	background-color: #f7be74;
}
.about-text button:hover{
	transition: all ease 0.5;
	background-color: #f50103;
	color:#ffffff;
}

.about-model img{
	width: 300px;
}
.content3{
    width: 1300px;
    height: 1000px;
    position: absolute;
   /* background:#b2ebf363 ;*/
    background: #fdc56400;
    
	top:97%;
	left:50%;
    display:block;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 5px 45px ;
    color: #000000;
    border-radius: 2%;
    
}