body{
	margin: 0 auto;
	background-image:url("../images/3.jpg");
	background-repeat:no-repeat;
	background-size: 100%;
	opacity: 0.9;
	filter: alpha(opacity=50);	
	background-attachment: fixed;
}

.main {
	margin-left: 180px;
	margin-bottom: 10px;
	margin-top: 100px;
  }
.loginbox{
	width: 1200px;
	height: 700px;
	background: #000000;
	color: #ffffff;
	position: center;
	box-sizing: border-box;
	padding: 70px 40px;
	border-radius:20%;
}

.center{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}



h1{
	margin:0;
	text-align: center;
	font-size:22px;
	padding-bottom: 30px;
}

.loginbox p{
	margin: 0;
	font-weight:standard;
	font-size:15px;
}







.loginbox a{
	text-decoration: none;
	font-size: 18px;
	line-height: 20px;
	color: darkgrey;
}

