.content{
    width: 1300px;
    height: 700px;
    display:block;
    position: relative;
    left:45%;
    top:50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 20px 100px 20px 100px;
    color: #023765;
    border-radius: 2%;
    
}
.btn6 {
    background-color: #2b3528;
    top: 75%;
    height: 35px;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    top:130%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.226);
  }
   .btn7 {
    background-color: rgba(245, 222, 179, 0.918);
    top: 75%;
    height: 30px;
    width: 100px;
    color: rgb(158, 6, 6);
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
   
  }
  .btn8 {
    background-color: rgba(245, 222, 179, 0.918);
    top: 75%;
    height: 30px;
    width: 100px;
    color: rgb(57, 139, 2);
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
   
  }
    .viewform {
      margin-top: 10px;
      font-size: 20px;
  }

  .viewform input {
    margin-left: 10px;
    width: 300px;
}
 .div_man {
 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-collapse: collapse;
    margin-left: 1%;
    margin-right: 50%;
    width: 100%;
  }



  .div_man td, .div_man th {
    /*border: 0px solid #7e5304;*/
    text-align: left;
    padding: 8px;
    color: rgb(8, 8, 8);
    /*background-color: rgba(228, 228, 228, 0.918);*/
    border: 0px solid #ddd;
   
    
  }

  .div_man tr{
    border: 1px solid #7e7a74;
    background-color: rgba(243, 227, 208, 0.918);

  }

  .div_man tr:nth-child(even){background-color: #fadeb3;}

  .div_man tr:hover {background-color: rgb(221, 221, 221);}

 

  .div_man th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    color: rgb(6, 2, 32);
    background-color: rgba(230, 184, 86, 0.788);
   }
  
   .div_man td{
    padding-top: 7px;
    padding-bottom: 7px;
   }



   