
  
  .f1 .div_man{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-collapse: collapse;
    margin-left: 1%;
    margin-right: 10%;
    width: 50%;
    border: 1px solid #dddddd;
  }

  .f1 label{
    width: 60%;
    float: left;
  }

  .f1 th{
    width: 40%;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .div_man {
 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-collapse: collapse;
    margin-left: 1%;
    margin-right: 50%;
    width: 100%;
  }

  .profile{
    color: #023765;
    margin-left: 1%;
    margin-right: 5%;
  }
 .profile td, .profile th{
    text-align: left;
    padding: 8px;
    font-size: 22px;
 }


  .div_man td, .div_man th {
    /*border: 0px solid #7e5304;*/
    text-align: left;
    padding: 8px;
    color: rgb(8, 8, 8);
    /*background-color: rgba(228, 228, 228, 0.918);*/
    border: 0px solid #ddd;
   
    
  }

  .div_man tr{
    border: 1px solid #7e7a74;
    background-color: rgba(243, 227, 208, 0.918);

  }

  .div_man tr:nth-child(even){background-color: #fadeb3;}

  .div_man tr:hover {background-color: rgb(221, 221, 221);}

 

  .div_man th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    color: rgb(6, 2, 32);
    background-color: rgba(230, 184, 86, 0.788);
   }
  
   .div_man td{
    padding-top: 7px;
    padding-bottom: 7px;
   }

/*design the input texts*/
input[type=text]{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  width: 80%;
  padding: 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(2, 32, 66);
  border-radius: 2px;
  box-sizing: border-box;
  background-color: rgba(245, 222, 179, 0.747);
}

/*design the input emails*/
input[type=email] , input[type=file]{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  width: 80%;
  padding: 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(2, 32, 66);
  border-radius: 2px;
  box-sizing: border-box;
  background-color: rgba(245, 222, 179, 0.747);
}

/*design the input emails*/
input[type=date]{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  width: 80%;
  padding: 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(2, 32, 66);
  border-radius: 2px;
  box-sizing: border-box;
  background-color: rgba(245, 222, 179, 0.747);
}

/*design the input telephone numbers*/
input[type=tel]{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  width: 80%;
  padding: 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(2, 32, 66);
  border-radius: 2px;
  box-sizing: border-box;
  background-color: rgba(245, 222, 179, 0.747);
}

textarea{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  width: 80%;
  height: 70px;
  padding: 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(2, 32, 66);
  border-radius: 2px;
  box-sizing: border-box;
  background-color: rgba(245, 222, 179, 0.747);
}

.des textarea{
  height: 170px;
}

select{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  width: 80%;
  padding: 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(2, 32, 66);
  border-radius: 2px;
  box-sizing: border-box;
  background-color: rgba(245, 222, 179, 0.747);
}



  /*.content {
      width: 80%;
  }

  .content2{
    width: 1300px;
    height: 575px;
    position:absolute;
    background:#FDC564 ;
    top:60%;
    left:55%;
    display:block;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding:5px 30px;
    color: #023765;
}
*/

  .viewform {
      margin-top: 10px;
      font-size: 20px;
  }

  .viewform input {
    margin-left: 10px;
    width: 300px;
}



.content2 th, .content2 td{
   font-weight: normal;
}

.content2 input[type=text]{
  border: 1px;
}

.div_man select{
  font-size: 16px;
  background-color: rgba(243, 227, 208, 0.918);
}

.content3 input[type=submit]{
  font-size: 18px;  
  border: none;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  background-color: #d4780ec0;
  height: 40px;

  border-radius: 2px;
  box-shadow: 0px 8px 16px 0px rgb(0, 0, 0,0.226);
  width: 200px;
 
}
