body{
    margin: 0;
    padding: 0;
    background: url(../img/12.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.loginBox{
    width: 350px;
    height: 450px;
    background: rgba(10, 10, 10, 0.9);
    color: rgb(243, 216, 63);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginBox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginBox input{
    width: 100%;
    margin-bottom: 50px;
}

.loginBox input[type="text"] , input[type="password"]{
    border: none;
    border-bottom: 1px solid rgb(250, 250, 0);
    background: transparent; 
    outline: none;
    height: 40px;
    color: rgb(250, 250, 250);
    font-size: 16px;
}

.loginBox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: yellow;
    color: rgb(194, 7, 7);
    font-size: 18px;
    border-radius: 20px;
}

.loginBox input[type="submit"]:hover{
    cursor: pointer;
    background: #ff0202;
    color: rgb(247, 245, 246);
}