body{
    margin: 0;
    padding: 0;
   /* background: url(../img/papers.co-si07-smoke-blue-dark-sea-gradation-blur-33-iphone6-wallpaper.jpg);*/
    background-color: #023765;
    background-size: cover;
    background-position: center;
    font-family: arial;
}

.welcomeBox{
    width: 1300px;
    height: 20px;
    color: #FDC564;
    top: 16%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}



.content{
    width: 1300px;
    height: 700px;
    position: absolute;
   /* background:#b2ebf363 ;*/
    background: #FDC564;
    
	top:77%;
	left:50%;
    display:block;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 20px 100px 20px 100px;
    color: #023765;
    border-radius: 2%;
    
}

.content2{
    width: 1300px;
    height: 575px;
    position:absolute;
    background:#FDC564 ;
    top:60%;
    left:50%;
    display:block;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding:5px 30px;
    color: #023765;
    border-radius: 2%;
}

.content3{
    width: 1300px;
    height: 1000px;
    position: absolute;
   /* background:#b2ebf363 ;*/
    background: #fdc56400;
    
	top:97%;
	left:50%;
    display:block;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 5px 45px ;
    color: #000000;
    border-radius: 2%;
    
}

.navBar{
    width: 180px;
    height: 555px;
    position:absolute;
  /*  background:#79370280 ; */   
	top:60%;
    left:7%;
   
    display:block;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px 10px;
}


header{
    background-color: #b2ebf352;
    overflow: auto;
    padding: 10px;
}

header .webName{
    float: left;
    font-size: 22px;
    color: yellow;
}

header .user{
    float: right;
    font-size: 18px;
    color: white;
}


.icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.logo{
    border-radius: 90%;
    left: calc(50% - 50px);
}

.welcomeBox h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
}
a{
    color: yellow;
  } 

a:hover {color: red;}

.welcomeBox a{
    text-decoration: none;
    color: #b2ebf3;
    font-weight: bold;
}

.welcomeBox a:hover{
    color: #FDC564;
}

.nav_table{
   /* background-color:rgba(0, 0, 0, 0.938);*/
    font-size: 18px;
    
   
}

.footer{
    position:fixed;
    bottom: 0;
    z-index: 1;
}



